body {
  color: black;
}
.container {
  text-align: center;
}

.site-name {
  font-size: 50px;
}

.site-info {
  margin: 0 25% 2%;
}

.movie-input {
  font-size: 20px;
  width: 20%;
}

.btn {
  font-size: 20px;
  background-color: lightcoral;
  border: none;
  border-radius: 0.3rem;
}
.btn:hover {
  background-color: #ed6969;
}

.section-title {
  text-align: center;
}

.img {
  padding: 0 150px 0 150px;
}
.movies {
  display: flex;
  justify-content: space-evenly;
  margin: 0 50% 0 50%;
}

.movie-name {
  text-align: center;
}

.movie-type {
  text-align: center;
}

.movie-role {
  text-align: center;
}
.movie-bio {
  margin: 10px;
}
