:root {
  --main-font: "Fjalla One", sans-serif;
  --body-font: "Source Sans Pro", sans-serif;
}

body {
  color: black;
}

h1,
h2,
h3 {
  font-family: var(--main-font);
}

p {
  font-family: var(--body-font);
}

.container {
  text-align: center;
}

.site-name {
  font-size: 50px;
}

.site-info {
  font-size: 20px;
}

button {
  font-size: 20px;
  background-color: lightcoral;
  border: none;
  border-radius: 0.3rem;
}
.btn:hover {
  background-color: #ed6969;
}

.section-title {
  text-align: center;
}

.img {
  padding: 0 150px 0 150px;
  opacity: 0.5;
}

.img:hover {
  opacity: 1;
}

header {
  margin-bottom: 4px;
  margin-top: -10px;
  top: 0;
  width: 100%;
  text-align: center;
}

.next-page {
  font-size: 20px;
  background-color: lightcoral;
  border: none;
  border-radius: 0.3rem;
}

.next-page:hover {
  background-color: #ed6969;
}

.results {
  text-align: center;
}

#footer-el {
  text-align: center;
  padding: 10px 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#footer-title {
  font-size: 14px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.displayed-data {
  text-align: center;
}

a {
  color: #eb6969;
  font-size: 15px;
}

.nextPage {
  text-decoration: none;
  color: white;
  background: #26a69a;
}

.nextPage:hover {
  background: #eb6969;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.nomargin {
  text-align: center;
  padding: 0.5rem 1.2rem;
  margin: 0.5rem;
  width: 35%;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  color: #030000;
  background-color: #fae4e2;
}

.searchresult {
  text-align: center;
  display: flex;
  padding: 0.5rem 1.2rem;
  margin: 0.5rem;
  width: 35%;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: #fae4e2;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
