:root {

  --main-font: "Fjalla One", sans-serif;

  --body-font: "Source Sans Pro", sans-serif;
}

body {
  color: black;
}


h1,
h2 {
  font-family: var(--main-font);
}

p {
  font-family: var(--body-font);
}

.container {
  text-align: center;
}

.site-name {
  font-size: 50px;
}

.site-info {
  font-size: 20px;
}

.stream-input {
  font-size: 20px;
  width: 20%;
}

.row {
  display: flex;
}

.btn {
  font-size: 20px;
  background-color: lightcoral;
  border: none;
  border-radius: 0.3rem;
}
.btn:hover {
  background-color: #ed6969;
}

.section-title {
  text-align: center;
}

.img {
  padding: 0 150px 0 150px;
  opacity: 0.5;
}

.img:hover {
  opacity: 1;
}

.services {
  display: flex;
  justify-content: space-evenly;
  margin: 0 50% 0 50%;
}

.stream-name {
  text-align: center;
}

.stream-bio {
  margin: 10px;
}

a {
  color: #702e2e;
}

header {
  margin-bottom: 4px;
  margin-top: -10px;
  top: 0;
  width: 100%;
  text-align: center;
}


#footer-el {
  padding: 40px 35px;
  text-align: center;
  background: #ed6969;
  padding: 10px 5px;
  position: fixed;
  margin-left: -10px;
  bottom: 0;
  width: 100%;
  text-align: center;
}


#footer-title {
  font-size: 14px;
}

/*Mobile Responsiveness*/
@media screen and (max-width: 575px) {
  .site-name {
    width: 95%;
  }

  p {
    font-size: 15px;
  }

  input {
    width: 80%;
  }
}
