:root {
  --main-font: "Fjalla One", sans-serif;
  --body-font: "Source Sans Pro", sans-serif;
}

body {
  color: black;
}

h1,
h2 {
  font-family: var(--main-font);
}

p {
  font-family: var(--body-font);
}

.container {
  text-align: center;
}

.site-name {
  font-size: 50px;
}

.site-info {
  font-size: 20px;
}

.movie-input {
  font-size: 20px;
  width: 20%;
}

.btn {
  font-size: 20px;
  background-color: lightcoral;
  border: none;
  border-radius: 0.3rem;
}
.btn:hover {
  background-color: #ed6969;
}
.next-page {
  font-size: 20px;
  background-color: lightcoral;
  border: none;
  border-radius: 0.3rem;
}

.next-page:hover {
  background-color: #ed6969;
}

.results {
  text-align: center;
}

.movie-name {
  font-size: 20px;
}

.movie-year {
  font-size: 15px;
}

.movie-type {
  font-size: 15px;
}

#footer-el {
  padding: 40px 35px;
  text-align: center;
  background: #ed6969;
  padding: 10px 5px;
  position: fixed;
  margin-left: -10px;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#footer-title {
  font-size: 15px;
}
/* 
.hide {
  visibility: hidden;
} */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
