body {
  color: black;
}
.container {
  text-align: center;
}

.site-name {
  font-size: 50px;
}

.site-info {
  font-size: 20px;
}

.movie-input {
  font-size: 20px;
  width: 20%;
}

.btn {
  font-size: 20px;
  background-color: lightcoral;
  border: none;
  border-radius: 0.3rem;
}
.btn:hover {
  background-color: #ed6969;
}
.next-page {
  font-size: 20px;
  background-color: lightcoral;
  border: none;
  border-radius: 0.3rem;
}

.next-page:hover {
  background-color: #ed6969;
}

.results {
  text-align: center;
}

.movie-name {
  font-size: 20px;
}

.movie-year {
  font-size: 15px;
}

.movie-type {
  font-size: 15px;
}
footer {
  padding: 40px 35px;
  text-align: center;
}
/* 
.hide {
  visibility: hidden;
} */
